<table>
  <tr>
    <td>
      {{weather-monitor}}
    </td>
    <td>
      {{weather-monitor}}
    </td>
    <td>
      {{weather-monitor}}
    </td>
    <td>
      {{weather-monitor}}
    </td>
    <td>
      {{weather-monitor}}
    </td>
  </tr>
</table>
